In [1]:
import numpy as np
import pandas as pd
import risk_kit_Shashwat as rk
from datetime import datetime
import math

In [2]:
dateparse = lambda x: datetime.strptime(x, '%Y%m')

df = pd.read_csv(r"ind30_m_vw_rets - ind30_m_vw_rets.csv", parse_dates=['Unnamed: 0'], date_parser=dateparse)

In [3]:
df.rename(columns={'Unnamed: 0': 'Date'}, inplace=True)

In [4]:
df.set_index('Date', inplace=True)

In [5]:
df

,Food,Beer,Smoke,Games,Books,Hshld,Clths,Hlth,Chems,Txtls,...,Telcm,Servs,BusEq,Paper,Trans,Whlsl,Rtail,Meals,Fin,Other
Date,,,,,,,,,,,,,,,,,,,,,
1926-07-01,0.56,-5.19,1.29,2.93,10.97,-0.48,8.08,1.77,8.14,0.39,...,0.83,9.22,2.06,7.70,1.93,-23.79,0.07,1.87,0.37,5.20
1926-08-01,2.59,27.03,6.50,0.55,10.01,-3.58,-2.51,4.25,5.50,8.14,...,2.17,2.02,4.39,-2.38,4.88,5.39,-0.75,-0.13,4.46,6.76
1926-09-01,1.16,4.02,1.26,6.58,-0.99,0.73,-0.51,0.69,5.33,2.31,...,2.41,2.25,0.19,-5.54,0.05,-7.87,0.25,-0.56,-1.23,-3.86
1926-10-01,-3.06,-3.31,1.06,-4.76,9.47,-4.68,0.12,-0.57,-4.76,1.00,...,-0.11,-2.00,-1.09,-5.08,-2.64,-15.38,-2.20,-4.11,-5.16,-8.49
1926-11-01,6.35,7.29,4.55,1.66,-5.80,-0.54,1.87,5.42,5.20,3.11,...,1.63,3.77,3.64,3.84,1.60,4.67,6.52,4.33,2.24,4.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-08-01,-0.38,-1.86,-5.43,2.89,-4.47,2.54,5.26,4.46,0.01,3.80,...,2.95,5.24,9.93,-0.34,2.91,3.66,9.11,3.64,2.45,2.99
2018-09-01,-0.32,0.19,5.37,-0.09,-2.21,1.07,1.30,1.99,-2.87,-6.38,...,1.74,-0.37,-0.33,-0.30,1.05,-1.48,0.61,2.51,-1.93,1.16
2018-10-01,1.02,-1.57,7.90,-15.96,-6.66,-0.51,-10.14,-8.84,-12.50,-25.79,...,-0.50,-9.20,-8.06,-9.82,-9.75,-7.88,-10.21,-1.71,-5.45,-5.99
2018-11-01,2.72,5.79,-8.43,-0.65,3.25,6.44,-0.99,6.32,4.96,2.92,...,2.54,1.29,-5.05,8.22,6.17,3.18,1.59,6.16,2.89,3.48
2018-12-01,-9.73,-9.69,-15.80,-8.24,-15.35,-5.57,-7.28,-8.40,-7.76,-10.09,...,-8.84,-7.65,-9.23,-8.63,-15.19,-11.21,-9.19,-6.28,-11.44,-6.93

In [6]:
df_col = df.columns.values.tolist()
SR_dict = {}
for i in df_col:
    sr = -rk.Sharpe_Ratio(df[i])
    SR_dict[i] = sr

SR_dict

{'Food': 0.0012447417790776092,
 'Beer': 0.0007259953546125364,
 'Smoke': 0.0009275767009230735,
 'Games': 0.0006059967757856567,
 'Books': 0.0008519621748464434,
 'Hshld': 0.0010376535789645353,
 'Clths': 0.0009822843202713966,
 'Hlth': 0.0009973950252122133,
 'Chems': 0.0008949322260760518,
 'Txtls': 0.0007688802363396962,
 'Cnstr': 0.0008708220872077106,
 'Steel': 0.000722845067717746,
 'FabPr': 0.000784935663216702,
 'ElcEq': 0.0007043144202766277,
 'Autos': 0.0007058802572264004,
 'Carry': 0.0007119105913447849,
 'Mines': 0.0008418526418089807,
 'Coal': 0.0005232358886728462,
 'Oil': 0.0009507160166977697,
 'Util': 0.0011162746313136435,
 'Telcm': 0.0013546002694502977,
 'Servs': 0.0006226714421919031,
 'BusEq': 0.0008030301618776734,
 'Paper': 0.0009787569806704872,
 'Trans': 0.0008502825340550506,
 'Whlsl': 0.0008648099964153516,
 'Rtail': 0.0009521365238229222,
 'Meals': 0.0008662727719538577,
 'Fin': 0.000847046704901281,
 'Other': 0.0009474553723674309}

In [7]:
Risky_assets = ['Food','Hshld','Util','Telcm']
Safe_assets = ['Beer','Smoke','Txtls','Coal','Servs']

In [8]:
#Creating dataframe of risky and safe assets
df_risky = pd.DataFrame()
df_safe = pd.DataFrame()
for i in Risky_assets:
    df_risky[i] = df[i]['2000-01-01':]
for j in Safe_assets:
    df_safe[j] = df[j]['2000-01-01':]

In [9]:
#Calculate returns of risky asset
n = len(Risky_assets)
weights_r = np.full(n,1/n).reshape(-1,1)
Risky_r = rk.portfolio_return(df_risky,weights_r)

#Calculate returns of safe asset
m = len(Safe_assets)
weights_s = np.full(m,1/m).reshape(-1,1)
Safe_r = rk.portfolio_return(df_safe,weights_s)

Risky_r = pd.DataFrame(Risky_r, index=df_risky.index)
Safe_r = pd.DataFrame(Safe_r, index=df_safe.index)

In [61]:
#Defining parameters of CPPI
multiplier = 3
start_value = 1000
floor = 0.80

In [66]:
def cppi(risky_assets, safe_assets, multiplier, start_value,floor_value):
    
    # Creating parameters for the strategy
    dates = risky_assets.index
    n_steps = len(dates)
    account_value = start_value
    floor_value = start_value*floor
    
    # Creating empty Lists to store values
    portfolio_values = []
    cushion_values = []
    risky_weights = []
    peaks = []
    
    #zero_data = pd.DataFrame(0, index=np.arange(n_steps), columns=['0'], dtype=int)
    #one_data = pd.DataFrame(1, index=np.arange(n_steps), columns=['0'], dtype=int)
    zero_data = np.zeros(n_steps)
    one_data = np.ones(n_steps)
    
    for step in range(n_steps):
        cushion = (account_value-floor_value)/account_value
        risky_w = multiplier*cushion
        #risky_w = pd.DataFrame.min(np.array(risky_w),one_data)
        #risky_w = pd.DataFrame.max(np.array(risky_w),zero_data)
        safe_w = 1-risky_w
    
        risky_alloc = risky_w*account_value
        safe_alloc = safe_w*account_value
        
        account_value = risky_alloc*(1+risky_assets.iloc[step]) + safe_alloc*(1+safe_assets.iloc[step])
        
        portfolio_values.append(account_value)
        cushion_values.append(cushion)
        risky_weights.append(risky_w)
        
        peak_value = np.max(portfolio_values)
        
        peaks.append(peak_value)
        
    risky_values = start_value*(1+risky_assets).cumprod()
#     prev_peak = risky_values.cummax()
#     drawdown = (risky_values-prev_peak)/prev_peak
    
#     if drawdown is not None:
#         peaks = np.maximum(np.array(peaks), np.array(portfolio_values))
#         floor_level = peaks*(1-np.array(drawdown).reshape(-1,1))
        
    # Creating empty DataFrame for storing final results
    results = pd.DataFrame(index = risky_assets.index)
    
    # Store the results in the DataFrame
    results['Account Value'] = portfolio_values
    results['Risky Value'] = risky_values
    results['Cushion History'] = cushion_values
    results['Risky Weight'] = risky_weights
    results['Multiplier'] = multiplier
#    results['Drawdown'] = drawdown
    results['Peak'] = peaks
#    results['Floor History'] = floor_level
    results['Risky Returns'] = risky_assets
    results['Safe Returns'] = safe_assets
    
    return results

In [67]:
cppi(Risky_r, Safe_r, multiplier, start_value, floor)

,Account Value,Risky Value,Cushion History,Risky Weight,Multiplier,Peak,Risky Returns,Safe Returns
Date,,,,,,,,
2000-01-01,"0 16.5 Name: 2000-01-01 00:00:00, dtype: fl...",-2.272500e+03,0.2,0.6,3,1.650000e+01,-3.2725,2.450
2000-02-01,0 9026.29875 dtype: float64,1.437924e+04,"0 -47.484848 Name: 2000-01-01 00:00:00, dtyp...","0 -142.454545 Name: 2000-01-01 00:00:00, dty...",3,9.026299e+03,-7.3275,-3.470
2000-03-01,0 44226.440998 dtype: float64,4.590574e+04,0 0.91137 dtype: float64,0 2.73411 dtype: float64,3,4.422644e+04,2.1925,1.208
2000-04-01,0 355743.360604 dtype: float64,4.693861e+04,0 0.981911 dtype: float64,0 2.945734 dtype: float64,3,3.557434e+05,0.0225,-3.586
2000-05-01,0 2.601277e+06 dtype: float64,1.869330e+05,0 0.997751 dtype: float64,0 2.993254 dtype: float64,3,2.601277e+06,2.9825,1.312
...,...,...,...,...,...,...,...,...
2018-08-01,0 -1.451165e+126 dtype: float64,-9.647773e+70,0 1.0 dtype: float64,0 3.0 dtype: float64,3,8.033966e+122,1.5050,0.248
2018-09-01,0 -7.376272e+126 dtype: float64,-1.432694e+71,0 1.0 dtype: float64,0 3.0 dtype: float64,3,8.033966e+122,0.4850,-1.314
2018-10-01,0 -8.732400e+127 dtype: float64,-1.414786e+71,0 1.0 dtype: float64,0 3.0 dtype: float64,3,8.033966e+122,-0.0125,-5.438
2018-11-01,0 -1.506819e+129 dtype: float64,-6.709621e+71,0 1.0 dtype: float64,0 3.0 dtype: float64,3,8.033966e+122,3.7425,-2.514
2018-12-01,0 3.838622e+129 dtype: float64,4.175062e+72,0 1.0 dtype: float64,0 3.0 dtype: float64,3,3.838622e+129,-7.2225,-9.060